.request-messages {
  &__button {
    display: block;
    margin: 10px 0 0 auto;
  }
  &__body {
    padding: 5px 30px 20px 30px;
    margin-top: 20px;
    background-color: #f8f8f8;
  }
  &__body-title {
    font-weight: bold;
    font-size: 20px;
  }
  &__body-user {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
    color: #a0a0a0;
  }
  &__response {
    text-align: right;
    margin: 10px 0 0 auto;
  }
}